<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
    <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="flex justify-center fixed w-full bg-white bg-opacity-95 z-50">
        <div class="container p-5 md:px-8 flex justify-between items-center">
            <div class="text-green-500 text-xl font-bold">
                NOTE
            </div>

            <div class="flex">
                <a href="#" class="mr-5 btn-actionbar">Features</a>
                <a href="#" class="btn-actionbar">About us</a>
            </div>
        </div>
    </nav>

    <header class="flex justify-center w-full bg-white">
        <div class="container p-5 min-h-screen flex flex-wrap">
            <div class="w-full md:w-1/2 flex items-center">
                <div class="inline-block px-5 py-12 md:px-8">
                    <h1 class="text-5xl font-bold leading-normal">Record your thoughts,<br>without any delay.</h1>

                    <a href="register.html" class="btn-primary mt-5">join us</a>
                    <div class="mt-5">
                        <p class="text-gray-600 inline-block">Already have account?</p>
                        <a href="login.html">log in</a>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 flex items-center">
                <img src="../public/images/Note.svg" alt="" class="w-full">
            </div>
        </div>
    </header>

    <section class="flex justify-center w-full bg-gray-100">
        <div class="container p-5 min-h-screen flex flex-wrap">
            <div class="w-full md:w-1/2 flex items-center justify-center">
                <div class="grid gap-4 grid-cols-2 w-full md:w-2/3 h-5/6 md:h-2/3 px-5 py-12">
                    <div class="bg-green-500 p-5 col-span-2">
                        <div class="p-3 mt-3 bg-white opacity-20"></div>
                        <div class="p-3 mt-3 bg-white opacity-20"></div>
                        <div class="p-3 mt-3 bg-white opacity-20"></div>
                        <div class="p-3 mt-3 w-1/2 bg-white opacity-20"></div>
                    </div>
                    <div class="bg-blue-500 text-blue-200 p-5">
                        <div class="p-3 mt-3 bg-white opacity-20"></div>
                        <div class="p-3 mt-3 bg-white opacity-20 w-1/2"></div>
                    </div>
                    <div class="bg-white p-5 text-gray-600">
                        <div class="p-3 mt-3 bg-gray-900 opacity-20"></div>
                        <div class="p-3 mt-3 bg-gray-900 opacity-20"></div>
                        <div class="p-3 mt-3 bg-gray-900 opacity-20 w-1/2"></div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 flex items-center">
                <div class="inline-block px-5 py-12 md:px-8">
                    <h1 class="text-5xl font-bold leading-normal">Simple & elegant</h1>
                    <div class="text-gray-600 text-xl my-5 leading-normal">
                        <p class="flex items-center"><span class="material-icons mr-3">lightbulb</span> It's simple</p>
                        <p class="flex items-center"><span class="material-icons mr-3">outlet</span> It's elegant</p>
                        <p class="flex items-center"><span class="material-icons mr-3">shop</span> It's simple and elegant</p>
                        <p class="flex items-center"><span class="material-icons mr-3">thumb_up</span> It's not only simple but elegant</p>
                    </div>
                    <a href="#" class="mt-5 btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="flex justify-center w-full bg-green-500">
        <div class="container p-5 min-h-screen flex flex-wrap">

            <div class="w-full md:w-1/2 flex items-center">
                <div class="inline-block px-5 py-12 md:px-8">
                    <h1 class="text-5xl text-white font-bold leading-normal">Efficiency concerned</h1>
                    <p class="mt-5 text-green-200">Abandoning all notions of mango, I turned my attention to the violet
                        concoction the vendor was now scooping into a bowl. The first mouthful proved what sight had
                        already suspected: the ice cream was denser than any frozen dessert I'd ever tasted, rich and
                        full-bodied, with an earthiness that juxtaposed brilliantly with the sweetness. News from BBC.
                    </p>
                    <a href="#" class="mt-5 btn-white">Explore</a>
                </div>
            </div>

            <div class="w-full md:w-1/2 flex items-center">
                <img src="../public/images/Time.svg" alt="" class="w-full">
            </div>
        </div>
    </section>

    <section class="flex justify-center flex-wrap w-full bg-gray-100">
        <div class="inline-block text-center p-5 py-12">
            <h1 class="text-4xl font-bold">More features</h1>
            <p class="text-gray-600 mt-3">Delicious food</p>
        </div>
        <div class="container p-5 md:p-8 grid grid-col-1 md:grid-cols-3">
            <div class="w-full p-5">
                <img src="../public/images/FastFood.svg" alt="">
                <div class="mt-5 text-center">
                    <h1 class="text-2xl font-bold">Fried Chicken</h1>
                    <p class="text-gray-600">Nice</p>
                </div>
            </div>
            <div class="w-full p-5">
                <img src="../public/images/Pancake.svg" alt="">
                <div class="mt-5 text-center">
                    <h1 class="text-2xl font-bold">Pancake</h1>
                    <p class="text-gray-600">Good</p>
                </div>
            </div>
            <div class="w-full p-5">
                <img src="../public/images/Coffee.svg" alt="">
                <div class="mt-5 text-center">
                    <h1 class="text-2xl font-bold">Coffee</h1>
                    <p class="text-gray-600">Not bad</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="flex justify-center w-full bg-gray-800 text-white">
        <div class="container p-5 py-8 md:px-8 flex justify-between items-center">
            <div class="flex">
                <a href="#" class="text-white hover:text-gray-200">roywatermelon11370</a>
            </div>

            <div class="flex">
                <a href="#" class="text-white hover:text-gray-200 material-icons">arrow_upward</a>
            </div>
        </div>
    </footer>
</body>

</html>