<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
</head>

<body class="p-5 bg-gray-100 flex justify-center">
    <div class="w-full lg:w-1/2">
        <div class="flex justify-between items-center">
            <div class="text-2xl">
                <a href="/list" class="material-icons mr-5 btn-actionbar">arrow_back</a>
            </div>
            <a href="/logout" class="btn-secondary">logout</a>
        </div>
        <h1 class="text-4xl font-bold mt-5">Note</h1>

        <div class="mt-5 w-full p-5 bg-white">
            <div class="flex justify-between">
                <div class="flex items-center text-xl text-gray-600">
                    <span class="material-icons mr-3 md:ml-3">face</span>
                    banana
                </div>
                <a href="/modify" class="btn-primary"><span class="material-icons text-xs">create</span> modify</a>
            </div>

            <pre class="break-normal w-full leading-normal my-5 md:mx-3"
                style="font-family: 'Manrope', '微軟正黑體', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorem illum adipisci nostrum, sed iste dignissimos eveniet alias provident suscipit. Dolores deleniti non facere dicta provident pariatur nesciunt delectus totam saepe, quod quas fugiat officiis sit excepturi, nobis quibusdam sed. Dolor adipisci magni odit necessitatibus beatae quasi soluta atque qui.</pre>
        </div>
    </div>
</body>

</html>