/* tailwind build assets/src/style.css -o assets/css/style.css */
@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.font-bold {
    font-weight: 800;
}

a {
    @apply text-green-500 inline-block;
}

a:hover {
    @apply text-green-700 cursor-pointer;
}

.btn-actionbar {
    @apply text-gray-600;
}

.btn-actionbar:hover {
    @apply text-gray-800 cursor-pointer;
}

.btn-primary {
    transition: all .2s ease;
    @apply bg-green-500 text-white font-bold p-3 px-5 inline-block uppercase;
}

.btn-primary:hover {
    transition: all .2s ease;
    @apply bg-green-700 text-white font-bold p-3 px-5 inline-block uppercase cursor-pointer;
}

.btn-primary:active {
    transition: all .1s ease;
    transform: scale(0.95);
}

.btn-white {
    transition: all .2s ease;
    @apply bg-white text-green-500 font-bold p-3 px-5 inline-block uppercase;
}

.btn-white:hover {
    transition: all .2s ease;
    @apply bg-green-200 text-green-500 font-bold p-3 px-5 inline-block uppercase cursor-pointer;
}

.btn-white:active {
    transition: all .1s ease;
    transform: scale(0.95);
}

.btn-secondary {
    transition: all .2s ease;
    @apply bg-gray-600 text-white font-bold p-3 px-5 inline-block uppercase;
}

.btn-secondary:hover {
    transition: all .2s ease;
    @apply bg-gray-800 text-white font-bold p-3 px-5 inline-block uppercase cursor-pointer;
}

.btn-secondary:active {
    transition: all .1s ease;
    transform: scale(0.95);
}

/* form */
.form {
    animation: fade-in .3s ease-out;
}

.form-input {
    @apply bg-gray-100 w-full p-3 block;
}

.form-label {
    @apply text-gray-600 uppercase font-bold flex items-center my-2;
}

.form-label>span {
    @apply mr-2;
}

@keyframes fade-in {
    from {
        transform: translate(0px, 50px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
