<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Voc</title>
    <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
</head>

<body class="p-5 bg-gray-100 flex justify-center">
    <div class="w-full lg:w-1/2">
        <div class="flex justify-between items-center">
            <div class="text-2xl">
                <a href="/list" class="material-icons mr-5 btn-actionbar">arrow_back</a>
            </div>
            <a href="/logout" class="btn-secondary">logout</a>
        </div>
        <h1 class="text-4xl font-bold mt-5">Modify Voc</h1>

        <div id="voc" class="p-5 w-full bg-white mt-5">
            <div class="flex">
                <input type="text" id="word" class="form-input"  style="width: calc( '100%' - '100.8px' );">
                <button id="voc_submit" class="btn-primary ml-5">submit</button>
            </div>
            <textarea name="" id="con" rows="10" class="form-input mt-5"></textarea>
        </div>

        <% if(!note){ %>
            <div class="mt-5 bg-white p-5 text-center w-full">
                <p class="text-gray-600">Note not found</p>
            </div>

            <% }else if(note.type=="voc_list" ){ %>
                <form action="/modify/<%= note.num %>" class="mt-5 w-full p-5 bg-white">
                    <div>
                        <label for="name" class="form-label"><span class="material-icons">face</span> name</label>
                        <input type="text" name="acc" id="name" class="form-input">
                    </div>

                    <div class="mt-5">
                        <label for="content" class="form-label"><span class="material-icons">description</span>
                            content</label>
                        <textarea name="con" id="content" rows="10" class="form-input"></textarea>
                    </div>

                    <div class="text-right mt-5">
                        <input type="submit" value="submit" class="btn-primary">
                    </div>
                </form>

                <% }else{ %>
                    <div class="mt-5 bg-white p-5 text-center w-full">
                        <p class="text-gray-600">Something went wrong</p>
                    </div>
                    <% }%>
    </div>
</body>

</html>